*{
    font-family: 'Quicksand', sans-serif;
}
.menu-container{
    display: flex;
    text-align: center;
    justify-self: center;
    gap: 60px;
    align-items: center!important;
    
    position: absolute;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,0.1);
    animation: mations 1s ease;
    transition: background-color .5s ease 0s,padding .5s ease 0s;
    padding: 10px 0;
    position: absolute;
    top: 0 !important;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.hSticky{
    background: rgba(0,0,0,0.7);
    position: fixed;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}
.align-items-center{
    align-items: center!important;
    display: flex;
    text-align: center;
    justify-items: center;
}
.menu-logo{
    margin-left: 60px;
}
.menu-logo img{
    max-height: 90px;
    width: auto;
    transition: all .4s ease;
}


.menu-content ul{
    list-style: none;
    display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 10px;
}
.menu-content .menu-item:hover{
    color: #cd9b32 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    
}
.menu-content .menu-item{
    margin-right: 18px !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    color: white !important;
}
.menu-active{
    color: #cd9b32 !important;
    font-size: 25px !important;
    font-weight: bold !important;
    border-bottom: 2px solid #cd9b32 !important ;
    
}

.menu-control{
    display: flex;
    text-align: center;
    justify-self: center;
    gap: 10px;
}
.menu-control .icon{
    margin-right: 13px;
    color: white;
}


@media (min-width: 991px){
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .menu-container {
        transition: background-color .1s ease 0s,padding .1s ease 0s;
        animation: mations2 .5s ease;
    }
    .menu-container .row-header {
        margin: 0;
        position: relative;
    }
    .menu-container .menu-bar {
        position: absolute;
        top: 36px;
        border-radius: 5px;
        z-index: 7;
        left: 0px;
        align-items: center;
        justify-content: center;
    }
    .d-flex{
        display: flex!important;
    }
}
@media (max-width: 700px){
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .menu-content{
        display: none;
    }
    .menu-container .menu-bar {
        position: absolute;
        top: 36px;
        border-radius: 5px;
        z-index: 7;
        left: 0px;
        align-items: center;
        justify-content: center;
    }
    .align-items-center {
        align-items: center!important;
        display: flex;
        gap: -4px;
        margin-left: 10px;
    }
    .thumb-slider{
        display: none;
    }
}
@media (min-width: 992px){
    .d-lg-none {
        display: none!important;
    }
    
}

